.sign-up-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin: auto;
}

.form-errors {
  margin-bottom: 1.5rem;
}

.error-message {
  color: #FF0000;
  font: normal 1.1rem OpenSans;
}
