.sign-up-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin: auto;
}

.sign-up-title {
  margin-bottom: 38px;
}

.sign-in-link {
  text-decoration: none;
}

.separator-line {
  width: 12.1rem;
}
