.sign-in-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: auto;
}

.sign-in-form {
  margin-top: 8%;
  width: 50%;
  padding-bottom: 10%;
}

.sign-in-form .form-errors {
  text-align: center;
}

.target-description {
  width: 60%;
  max-width: 30rem;
}

.description {
  text-align: center;
}

.forgot-password {
  font: normal normal 600 1.1rem OpenSans;
  text-align: center;
  color: #000000;
}

.connect-facebook {
  font: bold 1.2rem OpenSans;
  letter-spacing: 2.4px;
  text-align: center;
  color: #000000;
}


