<div class="sign-in-container">
  <div class="target-logo">
    <img class= "landing-icon" src="/assets/images/smilies.png">
  </div>
  <div class="sign-in-title">
    <h1>TARGET MVD</h1>
  </div>
  <div>
    <h2>Find people near you & Connect</h2>
  </div>
  <div class="target-description">
    <p class="normal-text description">
      Create a  target  wherever on the map, specify your interest: Travel, Dating, Music, etc and start conecting with others who share your interest.
    </p>
  </div>
  <div class="sign-in-form">
    <div class="form-errors" >
      <ul>
       <li class="error-message" ng-repeat="error in loginCtrl.errors | getErrorMessages"> {{error}} </li>
     </ul>
   </div>
   <form name="form" ng-submit="form.$valid && loginCtrl.login()" novalidate>
    <label class="form-label" for="email">EMAIL</label>
    <input type="email" class="form-input" id="email" name="email" ng-model="loginCtrl.user.email" ng-class="{'input-error' : form.email.$invalid && form.email.$touched}" required>

    <label class="form-label" for="password">PASSWORD</label>
    <input type="password" class="form-input" id="password" name="password" ng-model="loginCtrl.user.password" required>

    <button class="form-input form-button" >SIGN IN</button>
  </form>
  <div class="forgot-password">
    <span>Forgot your password?</span>
  </div>
</div>

<div class="connect-facebook">
  <span></span>
  <a class="sign-in-up-link connect-facebook" href="http://www.facebook.com"> CONNECT WITH FACEBOOK</a>
</div>

<hr class="form-separator-line">

<a class="form-label sign-in-up-link" href="/register"> SIGN UP</a>
</div>
