@import 'app/layout/reset';
@import 'app/layout/common';
@import 'app/registration/registration';
@import 'app/login/login';

html, body {
  font-size: 10px;
  height: 100%;
  min-width: 320px;
}

.container {
  display: flex;
  height: 100%;
}

.target-landing {
  order: 0;
  width: 50%;
  height: 100%;
  overflow: scroll;
  overflow: overlay;
}

.target-app {
  background-color: #2fbcf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.target-landing h1 {
  text-align: center;
  font: bold 2.0rem OpenSans;
  margin-bottom: 3.8rem;
}

.target-landing h2 {
  text-align: center;
  font: normal normal 600 1.8rem OpenSans;
  line-height: 1.8;
  color: #212121;
}

.demo-app, .icon-container {
  text-align: center;
}

.demo-app {
  background: url("/assets/images/i-6.png") center center no-repeat;
  background-size: contain;
  height: 70%;
  min-height: 60rem;
}

.landing-icon {
  margin: 1.0rem;
  text-align: center;
}

.form-input {
  display: block;
  margin: 0.3rem auto 1.7rem;
  width: 100%;
  max-width: 28.0rem;
  height: 3.7rem;
  border: solid 0.5px #060606;
  text-align: center;
  font: normal 1.0rem OpenSans;
  letter-spacing: 0.15rem;
  border-radius: 0;
}

.input-error {
  border-color: #FF0000;
}

.form-label {
  display: block;
  text-align: center;
  font: bold 1.1rem OpenSans;
  letter-spacing: 0.16rem;
  color: #000000;
}

.form-input.form-button {
  margin-top: 3.4rem;
  background-color: #000000;
  color: #FFFFFF;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.3);
}

.form-select {
  -webkit-appearance: none;
  border-radius: 0;
  text-align-last: center;
}

.form-separator-line {
  width: 12.1rem;
}

.normal-text {
  font: normal 14px OpenSans;
  line-height: 1.9;
  color: #000000;
}

.sign-in-up-link {
  text-decoration: none;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .target-landing,
  .target-app {
    width: 100%;
  }

  .target-landing {
    height: auto;
    overflow: inherit;
    padding: 30px 15px;
  }

  .target-app {
    display: block;
  }
}
